/* body{
  background-color: wheat;
} */

.owl-carousel .owl-item img {
  display: block;
  width: 17%;
  float: left;
  border: 5px solid #fff;
  border-radius: 20px;
  margin-left: 54px;
  margin-right: 35px;
  margin-top: 15px;
}
.slider-item.equal-height.style-6 {
  background-color: #000000;
  border-radius: 10px;
  margin: 10px;
}
.cell-right {
  text-align: center;
  margin-right: 80px;
  padding-top: 35px;
  padding-bottom: 20px;
}
.header {
  font-weight: 400;
}
.details {
  padding: 1% 1%;
  font-size: small;
  
}
.et_right_sidebar #main-content .container:before{
  display: none;
}
#main-content .container {
  padding-top: 10px;
}
i.fa.fa-quote-left {
  padding: 0px 10px;
  color: #999;
}